name: Cargo Backend Build & Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  CARGO_TERM_COLOR: always
jobs:
  build_and_test:
    name: Actix_Web - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
          # - beta
          - nightly
    steps:
      - uses: actions/checkout@v4
      - name: Update
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: Build
        run: cargo build --verbose
      - name: Test
        run: cargo test --verbose
  fmt:
      name: Rustfmt
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Enforce formatting
        run: cargo fmt --check

  clippy:
      name: Clippy
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: Linting
        run: cargo clippy -- -D warnings

  coverage:
      name: Code coverage
      runs-on: ubuntu-latest
      container:
          image: xd009642/tarpaulin
          options: --security-opt seccomp=unconfined
      steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Generate code coverage
        run: |
          cargo tarpaulin --verbose --workspace

  # docker-build-push:
  #   name: test-build
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #     - name: Extract Docker image metadata
  #       id: meta
  #       uses: docker/metadata-action@v5
  #       with:
  #         images: ${{ vars.DOCKER_USERNAME }}/rustbackend
  #     - name: Log in to Docker Hub
  #       uses: docker/login-action@v3
  #       with:
  #         username: ${{ vars.DOCKER_USERNAME }}
  #         password: ${{ secrets.DOCKER_PASSWORD }}
  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v3
  #     - name: Build and push Docker image
  #       uses: docker/build-push-action@v6
  #       with:
  #         context: .
  #         push: ${{ github.event_name != 'pull_request' }}
  #         tags: ${{ steps.meta.outputs.tags }}
  #         annotations: ${{ steps.meta.outputs.annotations }}
  #         provenance: true
  #         sbom: true
  #     - name: Deploy to EC2
  #       uses: appleboy/ssh-action@v0.1.7
  #       with:
  #         host: ${{ secrets.EC2_HOST }}
  #         username: ubuntu
  #         key: ${{ secrets.EC2_SSH_KEY }}
  #         port: 22
  #         script: |
  #           docker pull hipster0x/rustbackend:latest
  #           if [ $(docker ps -q -f name=rust-backend) ]; then
  #               docker stop rust-backend
  #               docker rm rust-backend
  #           fi
  #           docker run -d --name rust-backend -p 8080:8080 hipster0x/rustbackend:latest
  #
# aws-deploy:
#     name: Deploy to EC2
#     runs-on: ubuntu-latest
#     steps:
#         - name: SSH Connection
#           uses: appleboy/ssh-action@v0.1.7
#           with: 
#               host: ${{ secrets.EC2_HOST }}
#               username: ubuntu
#               key: ${{ secrets.EC2_SSH_KEY }}
#               port: 22
#               script: |
#                   docker pull hipster0x/rustbackend:latest
#                   if [ $(docker ps -q -f name=rust-backend-test) ]; then
#                       docker stop rust-backend-test
#                       docker rm rust-backend-test
#                   fi
#                   docker run -d --name rust-backend -p 8080:8080 hipster0x/rustbackend:latest
#

# ecs-deploy:
#   needs: docker-build-push
#   if: ${{ secrets.AWS_ACCESS_KEY_ID != '' && secrets.AWS_SECRET_ACCESS_KEY != '' }}
#   runs-on: ubuntu-latest
#   steps:
#     - name: Configure AWS credentials
#       uses: aws-actions/configure-aws-credentials@v2
#       with:
#         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#         aws-region: ${{ secrets.AWS_REGION }}
#     - name: Force new deployment (ECS)
#       run: |
#         aws ecs update-service \
#           --cluster <AWS_CLUSTER> \
#           --service <AWS_SERVICE> \
#           --force-new-deployment
